body {
  width: 100%;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--bg);
  background-color: #deecee;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23c085f6' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  place-items: center;
}

.main {
  width: 80%;
  max-width: 544px;
  height: 50%;
  max-height: 352px;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 17px 17px 27px 1px rgba(0,0,0,0.1);
}

.main.active {
  display: none;
}

.header {
  width: 100%;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0 ;
  color: var(--white);
  background-color: var(--primary-color);

  h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 auto;
    padding-right: 5px;
  }
  ion-icon {
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.main__container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.todo__container {
  width: 100%;
  height: 80%;
  margin: 1rem 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
}

.todo {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  
  .todo__checkbox {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid $gray;
    cursor: pointer;
  }
  
  ion-icon {
    font-size: 19px;
    padding-top: 3px;
    color: $gray;
    cursor: pointer;
    opacity: 0;
  }

  .todo__text {
    max-width: 300px;
    text-align: center;
    color: $gray;
  }
}

.todo .todo__checkbox.check {
  border: 2px solid var(--border-check);
  background: var(--primary-color);

  + p.todo__text {
    text-decoration: line-through;
  }

  ~ ion-icon {
    opacity: 1;
    transition: 0.3s;
  }
}

.newTask {
  margin: 0 auto;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 35px;
  color: var(--white);
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  border-radius: 200px;
  box-shadow: 1px 4px 15px 1px var(--shadow);
  cursor: pointer;
  span {
    font-size: 18px;
    margin-right: 2px;
  }
}

form.active {
  width: 60%;
  max-width: 395px;
  display: flex;
  flex-direction: column;
}

form {
  display: none;  
  .form__input {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 15px;
  }

  input:focus {
    color: #333;
    outline: 1px solid var(--primary-color);
  }

  .form__button {
    margin-top: .8rem;
    padding: 10px 24px;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
    border-radius: 200px;
    border: none;
    color: var(--white);
    background-color: var(--border-check);
    box-shadow: 1px 4px 15px 1px var(--shadow);
    transition: .3s;
    cursor: pointer;
    
    &:hover {
      background-color: var(--primary-color);
      transition: .3s;
    }
  }

  .alert {
    border-radius: 15px;
    padding: 12px;
    text-align: center;
  }
}
